#gvtryon_vid_container {
  position: absolute;
  top: 0;
  left: 0;
}

#gvtryon_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#gvtryon_gui_controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gvtryon_video_overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

/*  Button style from: 
    https://googlesamples.github.io/web-fundamentals/fundamentals/media/mobile-web-video-playback.html */

/*#gvtryon_gui_controls button {
  outline: none;
  position: absolute;
  color: white;
  display: block;
  opacity: 1;
  background: transparent;
  border: solid 2px #fff;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
  z-index: 2;
}*/

#gvtryon_take_photo_button {
  width: 42px;
  height: 42px;
  background-image: url("../img/ic_photo_camera_white_48px.svg");
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

/*#gvtryon_take_photo_button:active {
  background-color: #fff;
}*/
#gvtryon_start_camera_button,
#gvtryon_stop_camera_button {
  width: 42px;
  height: 42px;
  background-image: url("../img/ic_photo_camera_white_48px.svg");
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}
#gvtryon_toggle_full_screen_button {
  display: none;
  width: 42px;
  height: 42px;
  background-image: url("../img/ic_fullscreen_white_48px.svg");
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

#gvtryon_toggle_full_screen_button[aria-pressed="true"] {
  background-image: url("../img/ic_fullscreen_exit_white_48px.svg");
}

#gvtryon_switch_camera_button {
  display: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../img/ic_camera_rear_white_36px.svg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

#gvtryon_switch_camera_button[aria-pressed="true"] {
  background-image: url("../img/ic_camera_front_white_36px.svg");
}

#gvtryon_download_snap {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../img/ic_download_white_36px.svg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}
#gvtryon_set_frame_photo_button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../img/ic_scan_face_white.svg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
#gvtryon_clear_frame_button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../img/ic_reset_white.svg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
  /* portrait-specific styles */

  /* video_container (video) doesn't respect height... 
       so we will fill it in completely in portrait mode
    */
  #gvtryon_vid_container {
    width: 100%;
    height: 100%;
  }
  #gvtryon_gui_controls {
    width: 100%;
    height: 60px;
    left: 0;
  }
  /*#gvtryon_switch_camera_button {*/
  /*  left: calc(20% - 32px);*/
  /*  top: calc(50% - 32px);*/
  /*}*/

  /*#gvtryon_toggle_full_screen_button {*/
  /*  left: calc(80% - 32px);*/
  /*  top: calc(50% - 32px);*/
  /*}*/
}

@media screen and (orientation: landscape) {
  #gvtryon_vid_container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  #gvtryon_vid_container.left {
    left: 20%;
  }
  /* we default to right */
  #gvtryon_gui_controls {
    width: 100%;
    height: 60px;
    right: 0;
    left: 0;
  }

  /* for the lefties */
  #gvtryon_gui_controls.left {
    left: 0;
  }

  /*#gvtryon_switch_camera_button {*/
  /*  left: calc(50% - 32px);*/
  /*  top: calc(18% - 32px);*/
  /*}*/

  /*#gvtryon_toggle_full_screen_button {*/
  /*  left: calc(50% - 32px);*/
  /*  top: calc(82% - 32px);*/
  /*}*/
}
